body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#form {
    width: 600px;
    margin: 30px auto;
    padding: 20px 20px 10px 20px;
    border: 1px solid rgb(197, 183, 183);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, textarea {
    padding: 10px 20px;
    border: 1px solid rgb(197, 183, 183);
    border-radius: 8px;
    resize: none;
}

form input[type='submit'] {
    width: min-content;
    margin: 0 auto;
    background-color: #37d368;
    border: 1px solid #37d368;
}

form input[type='submit']:hover {
    background-color: #31c25f;
    border: 1px solid #31c25f;
}

.hidden {
    display: none;
}